.blogspage_container{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    background-color: #322f2f;
}

.blogspage_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262424;
    padding: 10px 0;
}

.blogspage_title{
    font-size: 30px;
    font-weight: bold;
    color: #999;
}

.blogspage_link{
    text-decoration: none;
    color: #999;
}

.blogspage_link:hover{
    color: var(--button-color);
}

.blogs_container{
    margin: 20px 0;
}

.blogspage_header a.active{
    color: var(--button-color);
}



