.userpage_container{
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    background-color: #322f2f;
}

.userpage_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262424;
    padding: 10px 0;
}

.userpage_title{
    font-size: 30px;
    font-weight: bold;
    color: #999;
}

.userpage_link{
    text-decoration: none;
    color: #999;
}

.userpage_link:hover{
    color: var(--button-color);
}

.user_container{
    margin: 20px 0;
}

.userpage_header a.active{
    color: var(--button-color);
}

.logout_button{
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: var(--button-font-color);
    cursor: pointer;
}