.board_container{
    position: relative;;
    min-height: 600px;
    min-width: 600px;
    height: 600px;
    width: 600px;
}

.board{
    height: 100%;
    width: 100%;
    background-image: url(../../../public/drawing.svg);
}

.circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
}