.topbar{
    height: 60px;
    background-color: #322F2F;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
}

.topbar_title{
    color: #C7C7C7;
    font-weight: bold;
    font-size: 2em;
}

.topbar_buttons_container{
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.topbar_username{
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.topbar_invites{
    text-align: center;
    height: 15px;
    width: 15px;
    font-size: 13px;
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: var(--success-color);
}

.topbar_username:hover{
    color:#abaaaa;
}